---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Rody | Blog"
  description="Mi Blog, en el que publico algunos artículos relacionados a la tecnología."
>
  <div>Blog</div>
</Layout>
