---
import FormEmail from "@/components/contact/FormEmail.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Rody | Contáctame"
  description="Puedes contactarme llenando el siguiente formulario"
>
  <section class="pb-10 flex flex-col gap-5 md:w-3/4 xl:w-1/2 mx-auto my-10">
    <h1 class="text-4xl text-primary-100/90 font-medium">Contáctame</h1>
    <p class="text-primary-100/90 font-light">
      Si deseas hablar sobre un proyecto potencial o simplemente saludar,
      envíame un mensaje o un correo electrónico a
      <a
        href="mailto:rodyhuancas.04@gmail.com"
        class="font-medium hover:text-secondary transition-colors duration-300 ease-linear"
      >
        rodyhuancas.04@gmail.com
      </a>
    </p>

    <FormEmail />
  </section>
</Layout>
