<footer class="text-center border-t pt-2 border-primary-200/40 text-primary-200/60">
    <a
      href="https://www.linkedin.com/in/rody-huancas/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary-200/60 hover:text-secondary transition-colors duration-300 ease-out"
    >
      Rody Huancas
    </a>{" "}
    | {new Date().getFullYear()}
  </footer>
  