---
import type { MenuInteface } from "@/models/sidebar";

interface Props {
  data: MenuInteface;
}

const { data } = Astro.props;
---

<li class="flex items-center border-y border-primary-200/40 hover:text-primary-100 hover:bg-primary-200/10 transition-colors duration-500 ease-linear">
  <a href={data.path} class="flex items-center gap-2 w-full py-5 px-10">
    <data.icon />
    {data.name}
  </a>
</li>
