---
import type { MenuInteface } from "@/models/sidebar";

interface Props {
  data: MenuInteface;
}

const { data } = Astro.props;

const pathname = Astro.url.pathname;
---

<li
  class={`flex items-center border-y border-primary-200/25 transition-colors duration-500 ease-linear ${pathname === data.path ? "text-secondary bg-primary-200/10" : "hover:text-primary-100 hover:bg-primary-200/10"}`}
>
  <a href={data.path} class="flex items-center gap-2 w-full py-5 px-10">
    <data.icon />
    {data.name}
  </a>
</li>
