---
import { MENU } from "@/lib/data";
import ItemMenu from "./ItemMenu.astro";
---

<aside class="min-w-80 border-r border-primary-200/25 hidden lg:flex lg:flex-col">
  <div class="flex flex-col gap-2 p-10">
    <a
      href="/"
      class="text-2xl hover:text-secondary transition-colors duration-300 ease-linear"
    >Rody Huancas</a>
    <span class="text-sm">Desarrollador Web</span>
  </div>

  <nav class="w-full">
    <ul class="flex flex-col text-primary-200">
      {MENU.map((data) => <ItemMenu data={data} /> )}
    </ul>
  </nav>
</aside>
