---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Página no encontrada - Rody Huancas"
  description="Portafolio Web de Hilder Rody Huancas Chuquipoma"
>
  <section class="bg-transparent lg:h-full flex items-center py-20">
    <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1
          class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-secondary/95"
        >
          404
        </h1>
        <p
          class="mb-4 text-3xl tracking-tight font-bold md:text-4xl text-primary-100/80"
        >
          Ocurrió un error.
        </p>
        <p class="mb-4 text-lg font-light text-gray-500">
          Lo sentimos, no podemos encontrar esa página. Encontrarás mucho para
          explorar en la página de inicio.
        </p>
        <a
          href="/"
          class="inline-flex text-dark-color bg-primary-100/90 hover:bg-primary-100 focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center focus:ring-primary-100 my-4 transition-colors duration-300 ease-linear"
          aria-label="Volver a la página de inicio"
        >
          Volver al inicio
        </a>
      </div>
    </div>
  </section>
</Layout>
