---
import { Image } from "astro:assets";

// icons
import PointIcon from "@/assets/icons/PointIcon.astro";

// layouts
import Layout from "@/layouts/Layout.astro";

// data
import { SOCIAL_MEDIA, PROJECTS } from "@/lib/data";

// components
import ItemSocial from "@/components/home/ItemSocial.astro";
import CardProject from "@/components/projects/CardProject.astro";
import ButtonRedirect from "@/components/ui/ButtonRedirect.astro";
---

<Layout
  title="Rody Huancas - Desarrollador Full Stack"
  description="Contrata a Rody Huancas para crear tu aplicación web o móvil. Desarrollador Full Stack. Especializado en crear aplicaciones únicas."
>
  <section class="flex flex-col gap-10">
    <div class="w-full flex items-start justify-between">
      <Image src="/icons/favicon.svg" alt="Logo" width="50" height="50" />

      <a
        href="/contact"
        class="bg-[#03e26b]/5 py-3 px-4 hover:bg-[#03e26b]/10 text-[#03e26b] rounded-lg flex items-center justify-center transition-colors duration-300 ease-out"
      >
        <PointIcon />
        Disponible para trabajar
      </a>
    </div>

    <div class="flex flex-col gap-7">
      <h2 class="text-primary-100/90 text-5xl flex flex-col gap-3 font-bold">
        Hola, soy Rody
        <span class="font-normal text-primary-100/80 text-4xl"
          >Desarrollador Full Stack</span
        >
      </h2>
      <span class="text-xl text-primary-200 text-balance font-light">
        +1 año como desarrollador Full Stack, me apasiona la tecnología y creo
        proyectos de código libre. Transformo ideas en realidad a través del
        código. ¡Bienvenido a mi portafolio!
      </span>
    </div>

    <div class="flex items-center flex-wrap gap-5">
      {SOCIAL_MEDIA.map((social) => <ItemSocial social={social} />)}
    </div>
  </section>

  <section class="mt-16 mb-7 flex flex-col gap-7">
    <h3 class="text-2xl text-primary-100/90">Proyectos Destacados</h3>

    <div class="grid md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 items-center gap-x-5 gap-y-10 mb-5">
      {PROJECTS.slice(0, 2).map((project) => (
        <CardProject project={project} />
      ))}
    </div>
    
    <ButtonRedirect path="/projects" title="Ver todos los proyectos" />
  </section>
</Layout>
