---
import { Image } from "astro:assets";

// icons
import PointIcon from "@/assets/icons/PointIcon.astro";

// layouts
import Layout from "@/layouts/Layout.astro";

// data
import { SOCIAL_MEDIA, PROJECTS } from "@/lib/data";

// components
import ItemSocial from "@/components/home/ItemSocial.astro";
import CardProject from "@/components/projects/CardProject.astro";
---

<Layout>
  <section class="flex flex-col gap-10">
    <div class="w-full flex items-start justify-between">
      <Image src="/icons/favicon.svg" alt="Logo" width="50" height="50" />

      <a
        href="/contact"
        class="bg-[#03e26b]/5 py-3 px-4 hover:bg-[#03e26b]/10 text-[#03e26b] rounded-lg flex items-center justify-center transition-colors duration-300 ease-out"
      >
        <PointIcon />
        Disponible para trabajar
      </a>
    </div>

    <div class="flex flex-col gap-7">
      <h1 class="text-primary-100/90 text-5xl flex flex-col gap-3 font-bold">
        Hola, soy Rody
        <span class="font-normal text-primary-100/80 text-4xl"
          >Desarrollador Full Stack</span
        >
      </h1>
      <span class="text-xl text-primary-200 text-balance font-light">
        +1 año como desarrollador Full Stack, me apasiona la tecnología y creo
        proyectos de código libre. Transformo ideas en realidad a través del
        código. ¡Bienvenido a mi portafolio!
      </span>
    </div>

    <div class="flex items-center gap-5">
      {SOCIAL_MEDIA.map((social) => <ItemSocial social={social} />)}
    </div>
  </section>

  <section class="my-16 flex flex-col gap-7">
    <h3 class="text-2xl text-primary-100/90">Proyectos Destacados</h3>

    <div class="grid grid-cols-3 items-center gap-x-5 gap-y-10">
      {
        PROJECTS.map(project => (
          <CardProject project={project} />
        ))
      }
    </div>
    <a
      href="/projects"
      class="w-full text-center mt-5 border border-primary-200/80 py-3 text-primary-100/90 rounded-md font-medium uppercase hover:bg-primary-200/10 transition-colors duration-500 ease-in-out"
      >Ver todos los proyectos</a
    >
  </section>
</Layout>
