---
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import Sidebar from "@/components/layout/Sidebar.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/main.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Rody Huancas" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <title>{title}</title>
    
    <ViewTransitions fallback="none" />
  </head>
  <body>
   <div class="bg-dark-color text-primary-100 h-[100dvh] w-full overflow-hidden flex flex-col lg:flex-row">
    <!-- Para Desktop -->
    <Sidebar />

    <!-- Para Mobile -->
    <Header />

    <main class="w-full p-10 overflow-x-hidden overflow-y-scroll">
      <slot />

      <Footer />
    </main>
   </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Outfit", system-ui, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::selection {
    background-color: #03e2e23a;
    color: #ffffff;
  }
  
  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
</style>
